
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="divContacto" class="centrarElementos">

    <h2>Contáctenos</h2>
    <br />
    <h4>- Tel: 2211 3366</h4>
    <h4>- Correo electrónico: clientes@contruct.com</h4>
    <h4>- Horario: L-V 8am - 5:30pm </h4>
    <h4>- Dirección: San Pablo, Heredia, Costa Rica</h4>
</div>
