
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="divInicio" class="centrarElementos">

    <h2>Inicio</h2>
    <br />
    <img src="~/Content/img/empresa.png" id="imagenEmpresa" />
    <br />
    <br/>
    <p>Somos una empresa dedicada a la construcción desde 1980, con los mejores estándares de calidad</p>
    <p>Empresa 100% familiar para todo CR</p>

</div>
