
@{
    ViewBag.Title = "Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divServicios" class="centrarElementos">

    <h2>Nuestros Servicios:</h2>
    <br />
    <h4>- Planos</h4>
    <h4>- Diseño 3D</h4>
    <h4>- Consultoría</h4>
    <h4>- Decoración de interiores</h4>
    <h4>- Permisos en municipalidad y CFIA</h4>
    <br />
    <br />
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/f0uDkpvsgXU?si=yVEDSez1wC0oL-Kd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
